data/raw/
data/unzipped/
data/interim/
data/processed/
*.zip
*.parquet
*.csv.gz
DE1_0_*.csv

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.ruff_cache/
.mypy_cache/

.venv/
venv/

.DS_Store

!reports/tables/*.csv
